<div id="detailModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        User Detail
        <a  href="#" data-dismiss="modal">X</a>
      </div>
      <div class="modal-body">
        <table class="table table-bordered">
          <tr>
            <th>User Id</th>
            <td>{{getObj.id}}</td>
          </tr>
          <tr>
            <th>Name</th>
            <td>{{getObj.name}}</td>
          </tr>
          <tr>
            <th>Age</th>
            <td>{{getObj.age}}</td>
          </tr>
          <tr>
            <th>City</th>
            <td>{{getObj.city}}</td>
          </tr>
          <tr>
            <th>Edit/Update</th>
            <td><button class="btn btn-outline-dark" data-dismiss="modal" (click)="editUser()">Edit</button></td>
          </tr>
        </table>        
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>