<div class="row">
    <div class="col-md-6 offset-md-3 mt-4 pt-4">
        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="text" [(ngModel)]="user.username" class="form-control" placeholder="Enter email" id="email">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" [(ngModel)]="user.password" class="form-control" placeholder="Enter password" id="pwd">
        </div>
        
        <button type="button" (click)="login()" class="btn btn-primary">Submit</button>
        <p class="text-danger text-center">
            {{ message }}
        </p>
    </div>
</div>
    
