<div class="container">
    <div class="row">
        <div class="col-md-12">

            <ul class="nav justify-content-end">
                <li class="nav-item">
                
                    <a class="nav-link" routerLink="">Home</a>
                </li>
                <ng-template [ngIf]="_advLogin.isLoggedIn()" [ngIfElse]="beforeLogin">
                    <li class="nav-item">
                    
                        <a class="nav-link" routerLink="/adv/dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                    
                        <a class="nav-link" routerLink="/adv/profile">Profile</a>
                    </li>
                    <li class="nav-item">
                    
                        <a class="nav-link" style="cursor : pointer;" (click)="_advLogin.logout()">Logout</a>
                    </li>
                </ng-template>
                <ng-template #beforeLogin>
                    <li class="nav-item">
                    
                        <a class="nav-link" routerLink="/adv/login">Login</a>
                    </li>
                    <li class="nav-item">
                    
                        <a class="nav-link" routerLink="/adv/signup">Signup</a>
                    </li>
                </ng-template>
                
            </ul>




        </div>
    </div>
</div>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Navbar</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container" style="min-height: 500px">
    <router-outlet></router-outlet>
</div>

<div class="container-fluid bg-dark">
    <p class="text-center text-light m-0 p-2">
        Copyright by TSS
    </p>
</div>
