<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" class="form-control" [(ngModel)]="user.username" placeholder="Enter email" id="email">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" [(ngModel)]="user.password" placeholder="Enter password" id="pwd">
      <p class="text-danger textr-center">{{ message }}</p>
    </div>
    <button (click)="login()" class="btn btn-success m-2">Login</button>
  </div>
</div>