<button class="btn btn-primary my-4" data-target="#addModal" data-toggle="modal" (click)="emptyObj()">Add New</button>
<table class="table table-dark table-striped table-bordered">
  <tr>
    <th>S. No</th>
    <th>Full Name</th>
    <th>Email</th>
    <th>City</th>
    <th>Phone</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let student of allStudent; index as i">
    <td>{{i+1}}</td>
    <td>{{student.first_name}} {{student.last_name}}</td>
    <td>{{student.email}}</td>
    <td>{{student.city}}</td>
    <td>{{student.phone}}</td>
    <td colspan="2">
      <button class="btn btn-info mr-2" (click)="askEdit(student)" data-target="#addModal" data-toggle="modal">Edit</button>
      <button class="btn btn-danger" (click)="askDel(student)" data-target="#deleteModal" data-toggle="modal">Delete</button>
    </td>
  </tr>
</table>

<app-add-modal></app-add-modal>
<app-delete-modal [parentData]="obj" (delObj)="delNow()"></app-delete-modal>