<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <table class="table table-hover table-bordered table-dark">
                <tr>
                    <td>Full Name</td>
                    <td>{{ user.full_name }}</td>
                </tr>
                <tr>
                    <td>Email/Username</td>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td>{{ user.gender }}</td>
                </tr>
                <tr>
                    <td>City</td>
                    <td>{{ user.city }}</td>
                </tr>
                
            </table>
        </div>
    </div>
</div>
