<div id="addModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        Add Student
        <a  data-dismiss="modal">X</a>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-striped">
          <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Fees</th>
          </tr>
          <!-- <tr>
            <td>{{parentData.name}}</td>
            <td>{{parentData.age}}</td>
            <td>{{parentData.fees}}</td>
          </tr> -->
        </table>
      </div>
      <div class="modal-footer">
        <!-- <button class="btn btn-danger" (click)="deleteUser()" data-dismiss="modal">Delete</button> -->
        <button class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>