body{
  background-color: #CCCCCC;
}
.logo-img{
  height: 35px;
  width: 115px;
}

.nav-color{
  background-color: #F0F0F0;
}

.nav-place{
  padding-left: 52rem;
}

.navbar-nav .nav-link {
  padding: 0.5px 0px !important;
}

.footer-bg{
  background-color: #DEDEDE;
}

.content-div{

  }

.carousel-item {
  height: 250px;
}

.carousel-control-prev, .carousel-control-next {
  top: 200;
  width: 5%;;
}

.carousel-control-prev {
  left: 960px;
}

.listing{
  position: relative;
  top: -230px;
  left: 40px;
}

.listing .list-group-item{
  width: 250px;
}

.srch-div{
  background-color: #ffffff;
  height: 50px;
  width: 500px;
  position: relative;
  border-radius: 5px;
}

@media (min-width: 576px){
  .form-inline .form-control {
    display: inline-block;
    width: 500px;
    height: 50px;
    vertical-align: middle;
    margin-right: 0px;
  }

}

  @media (min-width: 576px){
    .mr-sm-2, .mx-sm-2 {
      margin-right: 0 !important;
    }
    .srch-btn {
      margin-left: -68px;
      line-height: 1.5;
      height: 46px;
      width: 66px;
      background-color: #FE610C;
    }
  }

.srch-icon{
  color: #ffffff;
  margin: 0px;
  font-size: 24px !important;
}

.srch-btn {
  margin-left: -68px;
  line-height: 1.5;
  height: 46px;
  width: 66px;
  background-color: #FE610C;
}

.head-tab{    
  font-size: 23px;
  font-weight: 300;
}

.card-divs{
  position: relative;
  top: -45px;
}

.card-div{
  float: left;
  width: 100%;
  height: 165px;
  border-radius: 5px;
  box-shadow: 0px 2px 6px #999999;
  transition: transform .2s; /* Animation */
  margin : 5px 0px;
}

.card-div:hover{
  box-shadow: 0px 5px 15px #999999;
  transform: scale(1.01);
}

.left-div{
  float: left;
  background-color: #F5F9FF;
  width: 50%;
  height: 165px;
  padding: 5px 0px 0px 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.right-div{
  float: left;
  width: 50%;
  height: 165px;
}

.crd-img{
  height: 165px;
  width: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.text-heading{
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0px;
}

.sub-head{
  font-size: 15px;
  margin-bottom: 5px;
  text-transform: capitalize;
}